@model IEnumerable<PhotoGallery.Application.DTOs.PhotoListItemDto>

<div class="d-flex flex-column align-items-center">
    @foreach (var photo in Model)
    {
        <div class="photo-card mb-5">

            <!-- IMAGE -->
            <a asp-controller="Gallery"
               asp-action="Details"
               asp-route-id="@photo.Id">
                <img src="@photo.ThumbnailUrl"
                     class="photo-image"
                     alt="@photo.Description" />
            </a>

            <!-- TITLE -->
            <h5 class="mt-3 mb-1 text-center">
                @photo.Description
            </h5>

            <!-- HASHTAGS -->
            @if (photo.Hashtags.Any())
            {
                <div class="text-center text-muted mb-2">
                    @foreach (var tag in photo.Hashtags)
                    {
                        <span class="badge bg-secondary me-1 mb-1">#@tag</span>
                    }
                </div>
            }

            <!-- FOOTER -->
            <div class="photo-meta d-flex justify-content-between">
                <small>@photo.AuthorEmail</small>
                <small>@photo.UploadedAt.ToString("dd.MM.yyyy HH:mm")</small>
            </div>

        </div>
    }
</div>
