@model IEnumerable<PhotoGallery.Domain.Entities.AuditLog>

<h3>Audit Logs</h3>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Action</th>
            <th>Entity</th>
            <th>Entity ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.CreatedAtUtc</td>
                <td>@log.UserId</td>
                <td>@log.Action</td>
                <td>@log.EntityType</td>
                <td>@log.EntityId</td>
            </tr>
        }
    </tbody>
</table>
