@model IEnumerable<PhotoGallery.Domain.Entities.AuditLog>

<h3 class="mb-3">Audit Logs</h3>

<table class="table table-sm table-hover pg-table">
    <thead>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Action</th>
            <th>Entity</th>
            <th>Entity ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td class="text-nowrap">
                    @log.CreatedAtUtc.ToString("dd.MM.yyyy HH:mm:ss")
                </td>

                <td class="text-break">
                    @log.UserId
                </td>

                <td>
                    <span class="badge bg-secondary">
                        @log.Action
                    </span>
                </td>

                <td class="text-muted">
                    @log.EntityType
                </td>

                <td class="text-muted text-nowrap">
                    @log.EntityId
                </td>
            </tr>
        }
    </tbody>
</table>
